# supabase数据库配置
# 将其改为.local可在本地开发使用
# 
# 正式发布版本请在cf环境变量中定义
#
# VITE_SUPABASE_URL=https://zckvrpwvinmantchmbbv.supabase.co

# VITE_SUPABASE_ANON_KEY=sb_publishable_4365769dfgh
# VITE_APP_ID=app-cs3s5jkj3rb5
